/** Importing fonts & icons **/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* !       */
/* ! Reset */
/* !       */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* !           */
/* ! Variables */
/* !           */
:root {
  /** Colors **/
  --dark-100: rgba(33, 37, 41, 1);
  --dark-75: rgba(33, 37, 41, 0.75);
  --dark-50: rgba(33, 37, 41, 0.5);
  --dark-25: rgba(33, 37, 41, 0.25);

  --white-100: rgba(255, 255, 255, 1);
  --white-75: rgba(255, 255, 255, 0.75);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-25: rgba(255, 255, 255, 0.25);

  --green-100: rgba(116, 198, 157, 1);
  --green-75: rgba(116, 198, 157, 0.75);
  --green-50: rgba(116, 198, 157, 0.5);
  --green-25: rgba(116, 198, 157, 0.25);

  /** Fonts **/
  --base-font: "Work Sans", sans-serif;
  --accent-font: "Crimson Text", serif;

  /** Font-size **/
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
  --h5: 1.25rem;
  --h6: 1rem;

  --sub: 1.25rem;

  --label: 1rem;
  --ls: 0.3125rem;

  --body: 0.875rem;

  /** Shadow **/
  --shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

/* !               */
/* ! Global Styles */
/* !               */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.common-title {
  text-transform: capitalize;
  font-family: var(--accent-font);
  font-size: var(--h1);
  font-weight: bold;
}

/*
 * ! Style rules for Label text
 */

.label {
  font-family: var(--base-font);
  font-size: var(--label);
  letter-spacing: var(--ls);
  text-transform: uppercase;
  font-weight: 700;
}

/*
 * Styles rules for text color
 */

.text-white {
  color: var(--white-100);
}

.text-dark {
  color: var(--dark-100);
}

.text-green {
  color: var(--green-100);
}

/*
 * Style rules for buttons
 */

.white-btn,
.dark-btn {
  background-color: var(--white-100);
  color: var(--dark-100);
  font-family: var(--base-font);
  font-size: var(--h5);
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dark-btn {
  background-color: var(--dark-100);
  color: var(--white-100);
}

/*
 * Style rules for responsive images
 */
.responsive-image {
  max-width: 100%;
  height: auto;
}

/*
 * Style rules for Hero section 
 */

.hero {
  background-color: var(--green-100);  
}

/*
 * Style rules for Navbar
 */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-logo, .navbar-icons {
  z-index: 2;
}

.navbar-logo-text {
  font-size: var(--h2);
  font-family: var(--accent-font);
  color: var(--white-100);
  font-weight: 500;
}

.navbar-menu {
  display: flex;
  font-family: var(--base-font);
  font-size: var(--h5);
  gap: 15px;
}

.navbar-link {
  color: var(--white-100);
  text-decoration: none;
  position: relative;
}

.navbar-link::after {
  content: "";
  display: block;
  width: 0; 
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: var(--white-100);
  transition: width 0.3s ease-out; 
}

.navbar-link:hover::after, 
.navbar-link.active::after { 
  width: 100%;
}

.navbar-icons {
  display: none;
}

.navbar-icons i {
  font-size: var(--h2);
  color: var(--white-100);
  cursor: pointer;
}

.hide {
  display: none;
}

/*
 * Style rules for Footer
 */
.footer {
  background-color: var(--green-100);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.footer-links-socials {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.footer-links-copyright {
  font-family: var(--base-font);
  font-size: var(--sub);
}

/* !               */
/* !  Media Query  */
/* !               */

@media (min-width: 1200px){
  .container {
    max-width : 80%;
  }

  .common-title {
    font-size: 2.7vw;
  }

  .label {
    font-size: 1.2vw;
  }
}

@media (max-width: 1200px){
  .container {
    max-width: 970px;
  }

  .common-title {
    font-size: var(--h2)
  }
}

@media (max-width: 1024px){
  .container {
    max-width: 740px;
  }

  .common-title {
    font-size: var(--h4)
  }
}

@media (max-width: 768px){
  .container {
    max-width: 500px;
  }

  .white-btn, 
  .dark-btn {
    font-size: var(--h6);
    padding: 8px 25px;
  }
  
  .navbar-menu {
    z-index: 1;
    background-color: var(--green-100);
    position: absolute;
    opacity: 100%;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100dvh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: transform 0.4s ease-out;
    transform: translateY(-100%);
  }

  .navbar-menu.active {
    transform: translateY(0%);
  }
  
  .navbar-icons {
    display: block;
    transition: transform 0.2s ease-in;
    transform: rotate(0);
  }

  .navbar-icons.active {
    transform: rotate(180deg);
  }

  .hidden {
    z-index: -1;
    opacity: 0%; 
  }

  .footer-links {
    flex-direction: column;
    gap: 25px;
  }

  .footer-links-socials {
    gap: 25px;
  }
}

@media (max-width: 568px){
  .container {
    max-width: 90%;
  }
}